/* Estilizações gerais */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Times New Roman", Times, serif;
}

header {
  width: 100%;
  margin-bottom: 60px;
}

body {
  margin: 0;
  font-family: Arial, sans-serif;
  display: flex;
  flex-direction: column;
  height: 100dvh;
  background-color: #f4f4f9;
}

a {
  text-decoration: none;
}

/* Estilização do topo da pagina */
.top-content {
  display: flex;
  justify-content: space-between;
  padding: 20px;
  background-color: #fff;
}
.top-content h1 {
  font-size: 40px;
  font-weight: 700;
  color: #333333;
}

.btn {
  padding: 15px;
  font-size: 20px;
  font-weight: 600;
  border-radius: 14px;
  border: none;
  color: #fff;
  background-color: #3800c5;
  cursor: pointer;
  transition: 0.3s;
}

.btn:hover {
  background-color: #4c00ff;
  transform: scale(1.03);
}

/* Estilização do conteudo principal */
.principal {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.container {
  text-align: center;
  width: 100%;
  max-width: 400px;
  background-color: #fff;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

h1 {
  margin-bottom: 20px;
  color: #333;
}

input {
  width: 100%;
  padding: 10px;
  font-size: 16px;
  margin-bottom: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

button {
  padding: 10px 15px;
  font-size: 16px;
  color: white;
  background-color: #3800c5;
  border: none;
  border-radius: 14px;
  cursor: pointer;
  transition: background-color 0.3s;
}

button:hover {
  background-color: #4c00ff;
}

#resultado {
  margin-top: 20px;
  font-size: 16px;
  text-align: left;
}

.btn-exit button {
  margin-top: 30px;
  font-size: 20px;
  transition: 0.3s;
}
.btn-exit button:hover {
  transform: scale(1.03);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}
