/* Estilizações gerais */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Times New Roman", Times, serif;
}

body {
  margin: 0;
  height: 100dvh;
  font-family: Arial, sans-serif;
  transition: background-color 0.3s ease-in-out;
}

header {
  width: 100%;
  margin-bottom: 60px;
}

a {
  text-decoration: none;
}

/* Estilização do topo da pagina */
.top-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
  background-color: #fff;
}
.top-content h1 {
  font-size: 40px;
  font-weight: 700;
  color: #333333;
}

.btn {
  padding: 15px;
  font-size: 20px;
  font-weight: 600;
  border-radius: 14px;
  border: none;
  color: #fff;
  background-color: #3800c5;
  cursor: pointer;
  transition: 0.3s;
}

.btn:hover {
  background-color: #4c00ff;
  transform: scale(1.03);
}

/* Estilização do seção principal */
.container {
  display: grid;
  text-align: center;
  padding: 20px;
  justify-content: center;
  gap: 2rem;
}
.container h3 {
  font-size: 1.8rem;
  font-weight: 600;
  color: #333;
}
.container p {
    margin-top: 20px;
    margin-bottom: 30px;
    font-size: 1.4rem;
    font-weight:500;
    color: #4c4c4c;
}

.flex {
  background-color: #fff;
  border-radius: 15px;
  width: 500px;
  padding: 2rem;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}
